# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.env*/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# vscode
.vscode/

# PyCharm
.idea/

# Temporary files
*.tmp
*.swp
*.swo
